.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
   
  }
  
  .data-table img {
    max-width: 100px;
  }
  
  .data-table a {
    text-decoration: none;
    color: #007bff;
  }